<a href="https://colab.research.google.com/github/halofsunyaxiong/local/blob/master/2023_10_19_26_11_2%E5%A1%A9%E9%A3%BD%E5%85%88%E7%94%9F%E3%81%97%E3%82%8F%E3%81%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# cmd の　問題
pythonの　ファイル

In [ ]:
print(2.5+3)

# format()で値　を　埋め込み方法

In [ ]:
def introduction():
  people = '私は{Name}、年齢は{year}歳、仕事は{job}です。'
  comment = people.format(Name='孫亜雄',year = 26, job = 'プログラマー')
  print(comment)

introduction()

In [ ]:
def introduction(Name,year,job):
  comment = '私は{a}、年齢は{b}歳、仕事は{c}です。'.format(a = Name,b = year, c = job)
  print(comment)

introduction('sunyaxiong',35,'プログラマー')

# input

In [ ]:
manager_password = input('please input the password!')
if int(manager_password) == 100 :
  print('welcome to the system!!!')
else:
 a =  print('Your password is correr.')

# if 関数



```
if 条件   :


elif 条件 :                    


else:


```

In [ ]:
Temperature_water = 26
if Temperature_water >= 25:
    print('氷水を出す')
else:
    print('熱い水を出す')

In [ ]:
def The_type_of_number(num):
  if num % 2 == 0:
    print('The number \t{}\t is even number.'.format(num))
  else:
   print('The number \t{} \tis odd number.'.format(num))
The_type_of_number(9)
The_type_of_number(10)

In [ ]:
# 遊園地のレジシステム


def money(num_people):
  if num_people >= 10:
    money = (num_child*500 + num_adult*1000 + num_oder*700)*0.8
    print('団体割引があります。合計：  \n{}'.format(money))
  else:
    money = (num_child*500 + num_adult*1000 + num_oder*700)
    print('割引がありません。合計： \n{}'.format(money))

num_child =int(input('please input the numbers of child,1-12years.\n'))

num_adult =int(input('please input the numbers of adult,13-64years.\n'))

num_oder =int(input('please input the numbers of oder,65--years.\n'))

num_people = num_child + num_adult + num_oder
money(num_people)

In [ ]:
def money(num_people):
  if num_people >= 10:
    money = (num_child*500 + num_adult*1000 + num_oder*700)*0.8
    print('団体割引があります。\n 合計： \n{}円'.format(money))
  else:
    money = (num_child*500 + num_adult*1000 + num_oder*700)
    print('割引がありません。合計： \n{}円'.format(money))

num_child =int(input('子供料金(13歳未満)は何人.\n'))

num_adult =int(input('通常料金(13－64歳)は何人.\n'))

num_oder =int(input('年配者料金(65歳以上)は何人.\n'))

num_people = num_child + num_adult + num_oder

money(num_people)

In [ ]:
# BMI
def Bmi_Result(BMI):
  if BMI < 18.5:
    result = '瘦せ型'
    print('判定：{}'.format(result))
  elif BMI >= 18.5 and BMI < 25:
    result = '普通型'
    print('判定：{}'.format(result))
    return result
  elif BMI >= 25 and BMI < 30:
    result = '肥満(軽)'
    print('判定：{}'.format(result))
  else:
    result = '肥満(重)'
    print('判定：{}'.format(result))
weight = float(input('体重(kg)は？.\n'))
# たいじゅう
height = float(input('身長(㎝)は？.\n'))
height = height / 100
BMI = weight / (height * height)
print('BＭI：{}'.format(BMI))
Bmi_Result(BMI)

In [ ]:
# 上宇年　うるう年　うるうどし

# 論理的計算

In [ ]:
and

or

not

In [ ]:
True and ture
# ミスがある。
True
False

In [ ]:
def age_check(Name,age):
  if age == 15 and Name == '炭治郎':
    print('やあ、炭治郎')
  elif age < 15:
    print('炭治郎じやないね、まだ子供だね')
  elif age < 20:
   print('炭治郎じやないね、でも仲間だね')
  elif age > 20 and age <= 80:
   print('炭治郎じやないね、大人だね')
  elif age > 80:
   print('炭治郎じやないね、それにしても長生きだね')
  elif age > 150:
   print('出たな鬼')
Name = input('名前：')
age = int(input('年齢：'))
age_check(Name,age)

In [ ]:
energy = 67

while energy > 0:
  print('+ 走る')
  print('| energy=',energy)
  energy -=  1

# ２０２３．10.26



## 繰り返し　　for i in range():

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(1,11):
  print(i)

In [ ]:
for i in range(1,11,2):
  print(i)

In [ ]:
for i in range(1,12,4):
# 4 （すってぷ）スッテプ/////　　step　　中国語　：　步長是 4
  print(i)

In [ ]:
count = 0
for i in range(100):
  count = i + i
  i += 1
print(count)

## 調用python的tkinter畫圖功能。
google colab 是不能使用的，主要是不能夠產生圖像。



```
TclError: no display name and no $DISPLAY environment variable
```

In [ ]:
from tkinter import *

root = Tk()
w = Canvas(root, width=1000, height=1000)
w.pack()
for i in range(300):
    x = i * 3
    w.create_line(x, 0, x, 1000, fill='#ff0000')

root.mainloop()

## break /////  continue

In [ ]:
for i in range(1,14,2):
  print(i)
  if i ==  7 :
    break

  # このプログラムは　直接に中止する。

In [ ]:
for i in range(1,100,2):
  print(1)
  if i == 7 17 27 37 48 48:

# list

## list 的索引

In [ ]:
List_1 = [10,22,30,45]
a = List_1[4]
print(4)
#  中國語a 的值是列表的索引
#  エラーがあります。
# list index out of range

In [ ]:
List_1 = [10,22,30,45]
List_1[0]
List_1[1]
List_1[2]
List_1[3]
List_1[4]

In [ ]:
points = [88,76,67,43,79,80,91]
count = 0
for i in points:
  count += i

print(count)

## list的相加
sum()

In [ ]:
points = [88,76,67,43,79,80,91]
v = sum(points)
print(v)

## list の長さ

## len() 函數

In [ ]:
b = [1,4,5,6,7]
print(len(b))

## 函數enumerate()

enumerate() 函数用于将一个可遍历的数据对象(如列表、元组或字符串)组合为一个索引序列

，同时列出数据和数据下标，一般用在 for 循环当中。

Python 2.3. 以上版本可用，2.6 添加 start 参数。

In [ ]:
list_2 = ['huawei','apple','sony','xiaomi','tosiba']
for a, b in enumerate(list_2):
  print(a,b)

In [ ]:
list_2 = ['huawei','apple','sony','xiaomi','tosiba']
for a, b in enumerate(list_2,2):
  print(a,b)

## appendメソッド

append()

In [ ]:
list_2 = ['huawei','apple','sony','xiaomi','tosiba']
a = [88,76,67,43,79,80,91]
a.append(list_2)
a

In [ ]:
a = [88,76,67,43,79,80,91]
a.append(['huawei','apple','sony','xiaomi','tosiba'])
a

In [ ]:
a = [88,76,67,43,79,80,91]
a.append('huawei','apple','sony','xiaomi','tosiba')
a

## The difficute of append  and  extend   



```
>>> li = ['a', 'b', 'c']  
>>> li.extend(['d', 'e', 'f'])   
>>> li  
['a', 'b', 'c', 'd', 'e', 'f']  
>>> len(li)                      
6  
>>> li[-1]  
'f'  

>>> li = ['a', 'b', 'c']  
>>> li.append(['d', 'e', 'f'])   
>>> li  
['a', 'b', 'c', ['d', 'e', 'f']]  
>>> len(li)                      
4  
>>> li[-1]  
['d', 'e', 'f']  
```

## ⚓⚓⚓⚓⚓⚓⚓ the of slices of list.   slicesスライス
this is very important.

In [ ]:
d = [10,555,30,45]
d[0:2]

In [ ]:
d = [10,555,30,45]
d[:]

In [ ]:
d = [10,555,30,45]
d[0]

In [ ]:
# ⚓⚓⚓⚓⚓⚓


y = [1,2,3,4,5,6,7,8,9,0]
ww =y[-10:-2]
print(ww)
xx =y[-10:]
print(xx)

In [ ]:
y = [1,2,3,4,5,6,7,8,9,0]
del y[-10:-5]
y

In [ ]:
y = [1,2,3,4,5,6,7,8,9,0]
y.clear()
y

In [ ]:

y = [1,2,3,4,5,6,7,8,9,0]
y.insert(-9,67)

print(y)
print('------------------------------')
# y列表的索引為：-10,-9,-8,-7,-6,-5,-4,-3,-2,-1
# y列表的索引為：0，1，2，3，4，5，6，7，8，9
# 原來的-9的位置是2，insert的函數的意思是在索引-9的位置插入67.最後使得y的數列增加一位。
z= [1,2,3,4,5,6,7,8,9,0]
z.insert(1,67)
print(z)

In [ ]:
y = [1,2,3,4,5,6,7,8,9,0]
y.append(89)
y

In [ ]:

y = [1,2,3,4,5,6,7,8,9,0]
type(y)

## tuple  元組

⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓⚓

列表定义的时候使用[ ],元组使用( )

列表可以改变的，但是元组不可变，也就是元组定义好以后我们不能修改里面的元素

能使用元组的尽量使用元组

In [ ]:
a = (1,2,3,4,5,6,7,8)
a[1] = 67
a
#  'tuple' object does not support item assignmentyi
#  元組不能夠改變元素的值，注意，注意至於

In [ ]:
a = [1,2,3,4,5,6,7,8]
a[1] = 67
a

In [ ]:
a = [1,2,3,4,5,6,7,8]

a.append(9)
a

In [ ]:
b = (1,2,3,4,5,6,7,8)
b.append(9)
b

In [ ]:
a = (1,2,3,4,5,6,7,8)
a[1:5]

## 集合

In [ ]:
o = {1,23,4,55,67,78,8}
type(o)

In [ ]:
o = {1,23,455,666,666,666,77,88,0}
type(o)

In [ ]:
o = {1,23,455,666,666,666,77,88,0}
o[1]

In [ ]:
a = [1,5,2,9,6,8]
odd_list = []
even_list = []

for i in a:
  if i % 2 == 0:
    even_list.append(i)
  else:
    odd_list.append(i)
print('このリストの偶数は：',even_list)
print('このリストの奇数は：',odd_list)

In [ ]:
num_list = [16,8,18,9,32,21]
three_list = []
four_list = []
   for i in num_list:
    if i % 3 == 0:
    three_list.append(i)
    else i %4 == 0:
    four_list.append(i)

## 辞書型

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
type(s_dict)

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
s_dict[89]

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
s_dict['sunyaxiong']

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
s_dict[sunyaxiong]

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
s_dict['zhangqiang']=9000
s_dict

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
'zhangqiang' in s_dict

In [ ]:
s_dict = {'sunyaxiong':89,'liming':56,'zhangqiang':78,'liqing':100}
89 in s_dict

### 課題

In [ ]:
import random
right_num = 0
orrer_num = 0
for i in range(5):
  a = random.randint(1,100)
  b = random.randint(1,100)
  c = a  + b
if i

# 11月2日

## 集合　しゅうごう

In [ ]:
# きすう
# ぐうすう
# かつ　　　且　　而且    两者都有符合
# または　　又は　或者　  一者符合即可
# 実数

In [ ]:
a = 100
b = 200
a = b
print(a)

In [ ]:
a = 100
b = 200
b = a
print(b)

In [ ]:
a = 100
b = 200
a, b = b, a
print("a=",a,"a=",b)

In [ ]:
a = 5
b = 10
if a > b:
  print("最大値はa：",a)
else:
  print("最大値はb：",b)

In [ ]:

text = '''keep on asking, and it will be given you; keep on seeking, and you will find; and to everyone knocking, it will be opened.'''
text = text.replace(',','')
text = text.replace(';','')
text = text.replace('.','')

words = text.split()

counter = {}
for w in words:
  WS = w.lower()
# small
  if WS in counter:
    counter[WS] += 1
  else:
    counter[WS] = 1
for k,v in sorted(counter.items()):
  if v >= 3:
    print(k,v)

In [ ]:
sort()

## The split method of spring

## spring
## 文字列

In [ ]:
# 文字列.split
def spring_01(s):
  split_of_spring = s.split(" ",maxsplit=1)
  print(split_of_spring)


f = "this is a spring"
spring_01(f)

In [ ]:
# 文字列.split
def spring_01(s):
  split_of_spring = s.split("/",maxsplit=-1)
  print(split_of_spring)


f = "2020/02/20"
spring_01(f)

In [ ]:
# 文字列.split
def spring_01(s):
  split_of_spring = s.split("/",maxsplit=0)
  print(split_of_spring)


f = "2020/02/20"
spring_01(f)

In [ ]:
# 文字列.split
# Here, maxsplit=2 specifies that the string should be split into at most 2 parts.
# Therefore, the first two commas encountered in the string are used as separators and
# the remaining part of the string is considered as a single element of the resulting list.
# I hope this helps! Let me know if you have any more questions.



def spring_01(s):
  split_of_spring = s.split("/",maxsplit=2)
  print(split_of_spring)

f = "2020/02/20"
spring_01(f)

In [ ]:
# 文字列.split の　三つは意味がない
def spring_01(s):
  split_of_spring = s.split("/",maxsplit=3)
  print(split_of_spring)


f = "2020/02/20"
spring_01(f)

In [ ]:
# 文字列.split よっつは　意味がない。
def spring_01(s):
  split_of_spring = s.split("/",maxsplit=1)
  print(split_of_spring)


f = "2020/02/20"
spring_01(f)

## The join method of spring

```
"\\".join(spring_name)
```

In [ ]:
q = "This is the second spring."
join_spring = "##".join(q)
print(join_spring)

In [ ]:
w = "hello.how are you?"
s = w.split(".",maxsplit=1)
e = s[0].capitalize()
r = s[1].capitalize()
print(e+"."+r)

In [ ]:
w = "   ABC    "
s = w.strip()
small =s.lower()
print(small)

# ⚛⚛⚛⚛⚛⚛関数    とても重要

## 定義

def

関数名

引数　　ひきすう



```
def 関数名(引数):
    return 戻り値　もどりち
```
```
              引数
___________________________________________
      　　　　  |aru      |nai
___________________________________________
戻り値　|aru|    1         2
____________________________________________
戻り値　|nai|    3         4   
```

In [ ]:
def mul(a,b):
  return a*b


print(mul(1,5))

In [ ]:
#  印刷の税
def taxPrint(price,precent,sell):
  totalTaxPrint = price * precent * sell
  return totalTaxPrint